<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <ul th:replace="~{layout/layout :: sidebar}"></ul>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <nav th:replace="~{layout/layout :: topbar}"></nav>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800" th:text="${contenido}"></h1>

        <div th:replace="~{layout/layout :: alerts}"></div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Pagos Registrados</h6>
            <a th:href="@{/ventaCredito/lista-creditos}" class="btn btn-primary btn-sm float-right">
              Lista de Ventas a Crédito
            </a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Fecha de Pago</th>
                  <th>Monto de Pago</th>
                  <th>Cliente</th>
                  <th>Venta Crédito ID</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="pago : ${pago}">
                  <td th:text="${pago.idPago}"></td>
                  <td th:text="${#temporals.format(pago.fechaPago, 'dd-MM-yyyy HH:mm:ss')}"></td>
                  <td th:text="${pago.monto}"></td>
                  <td th:text="${pago.ventaCredito.deudor.nombre + ' ' + pago.ventaCredito.deudor.apellidoPat}"></td>
                  <td th:text="${pago.ventaCredito.idVentaCredito}"></td>

                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.container-fluid -->
            </div>
          </div>
      </div>
    </div>

    <!-- Footer -->
    <footer th:replace="~{layout/layout :: footer}"></footer>
  </div>
</div>

<!-- Scripts -->
<div th:replace="~{layout/layout :: scripts}"></div>
</body>
</html>