<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <ul th:replace="~{layout/layout :: sidebar}"></ul>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <nav th:replace="~{layout/layout :: topbar}"></nav>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800" th:text="${contenido}"></h1>

        <div th:replace="~{layout/layout :: alerts}"></div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Equipos Registrados</h6>
            <a href="/equipo/alta-equipo" class="btn btn-primary btn-sm float-right">
              <i class="fas fa-plus"></i> Agregar Equipo
            </a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Pais</th>
                  <th>Liga</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="equipo : ${equipo}">
                  <td th:text="${equipo.idEquipo}"></td>
                  <td th:text="${equipo.nombre}"></td>
                  <td th:text="${equipo.liga}"></td>
                  <td th:text="${equipo.pais}"></td>
                  <td>
                    <a th:href="@{/equipo/editar-equipo/} + ${equipo.idEquipo}" class="btn btn-warning btn-sm">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a th:href="@{/equipo/eliminar-equipo/} + ${equipo.idEquipo}" class="btn btn-danger btn-sm"
                       onclick="return confirm('¿Estás seguro de eliminar este equipo?')">
                      <i class="fas fa-trash"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.container-fluid -->
            </div>
          </div>
      </div>
    </div>

    <!-- Footer -->
    <footer th:replace="~{layout/layout :: footer}"></footer>
  </div>
</div>

<!-- Scripts -->
<div th:replace="~{layout/layout :: scripts}"></div>
</body>
</html>